POSTGRES_USER=pay_user
POSTGRES_PASSWORD=pay_password
POSTGRES_SERVER=localhost
POSTGRES_PORT=5432
POSTGRES_DB=pay_db
RABBITMQ_URL=amqp://rmuser:rmpassword@localhost:5672/
API_KEY=my_super_secret_api_key